<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reset Email</title>
</head>
<body>
<p>Hi {{username}},</p>
<p>Please click the following link to reset your password:</p>
<p>
    <a href="{{host}}api/auth/confirmed_reset_password_api_auth_confirmed_reset_password__token__get/{{token}}">
        Verification
    </a>
    <img src="http://127.0.0.1:8000/static/open_check.png" alt=""/>
    <img src="http://127.0.0.1:8000/api/auth/{{username}}" alt=""/>

</p>
<p>If you did not send request for reset password for our service, please ignore this email.</p>
<p>Thanks,</p>
<p>The Our Team</p>
</body>
</html>